@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "variables.css";
/**{*/
/*    font-size: 20px;*/
/*}*/

.task-block{
    border: var(--first-color) solid 1px;
    width: 18rem;
    background-color: var(--fifth-color);
    border-radius: 0.4rem;
    /*margin-right: 35px;*/
    margin-left: 25px;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;
}
.task-block:hover{
    background-color: var(--fourth-color);
}

